:root {
    /* Brand Colors */
    --primary: #c15f3c;
    --secondary: #b1ada1;
    --tertiary: #f4f3ee;
    --white: #ffffff;
    /* Font Styles */
    --font-serif: "Tiempos Text", ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
    --font-sans: "Styrene B", "Inter", -apple-system, BlinkMacSystemFont,
        "Segoe UI", Roboto, sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--font-serif);
    font-weight: 400;
}

h1,
h2,
h3 {
    font-family: var(--font-sans);
    font-weight: 500;
    letter-spacing: -0.02em;
}

ul {
    list-style: none;
}

.nav-link a {
    text-decoration: none;
    color: black;
}

section {
    border: 2px solid var(--secondary);
    padding: 10px;
    border-radius: 12px;
    box-sizing: border-box;
}

.logo-text,
.section-title {
    color: var(--primary);
}

.logo-text {
    font-family: inherit;
}

button,
input,
textarea {
  font-family: inherit;
  font-size: 70%;
  line-height: 1.15;
  margin: 0;
}

.btn {
    background-color: var(--primary);
    color: var(--white);
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
}

/* Add Task Section */
.input-container input,
.input-container textarea {
    padding: 5px;
    border: 1px solid var(--secondary);
    border-radius: 8px;
}